# wmllint: no translatables
#textdomain wesnoth-Era_Al-Qedarites

###================================================================
# The credits for this Era are contained in ... 0_CREDITS
# A brief summary of the period in Orbivm's history that this Era represents is contained in .................... 0_HISTORY
# Some brief note regarding various background information is contained in .................................. 0_ABOUT
# The changelog is located at .................	0_CHANGELOG
# This wesnoth Era is distributed under the GNU GPL 2 and/or GPL 3 and/or later versions.
## A copy of the GNU GPL is in ................ 0_COPYING
## This addon is free software! 
## You can redistribute it and/or modify it under the terms of the
## GNU General Public License, the Free Software Foundation,
## either version 2 of the License, or 
## (at your option) any later version (e.g. 3).
###--------------------------------------------------------------
# If you want to use this faction in an add-on or campaign, 
# add {~add-ons/Era_Al-Qedarites/campaign.cfg} 
# in your campaign define.
###================================================================


###================================================================
[textdomain]
    name="wesnoth-Era_Al-Qedarites"
    abbrev= _ "EAlQ"
    path="data/add-ons/Era_Al-Qedarites/translations"
[/textdomain]
###================================================================


###================================================================
#ifdef MULTIPLAYER
###--------------------------------------------------------------
[binary_path]
    path=data/add-ons/Era_Al-Qedarites/
[/binary_path]
###--------------------------------------------------------------
{~add-ons/Era_Al-Qedarites/macros/}
{~add-ons/Era_Al-Qedarites/images/}
###--------------------------------------------------------------
[+units]
    	{~add-ons/Era_Al-Qedarites/units/}
	{~add-ons/Era_Al-Qedarites/images/units/qedarites}
	{~add-ons/Era_Al-Qedarites/images/units/jinns}
[/units]
###--------------------------------------------------------------
[era]
    id=EAlQ
    name= _ "Default + Al-Qedarites"
    require_era=yes
    description="*New: The 'Era Al-Qedarites'*

The 'Al-Qedarites Era' was designed to be a balanced alternative to default mainline - for players who've gotten tired of the default six-pack experience."

    {RANDOM_SIDE}
    {~add-ons/Era_Al-Qedarites/faction.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {multiplayer/factions/undead-default.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
###--------------------------------------------------------------
#endif
###================================================================

